@model OdeToFood.Web.Models.GreetingViewModel

@{
    ViewBag.Title = "Greeting INdex Page";
}


<div class="jumbotron">
    <h1>Greeting Page</h1>
    <div>Hello, @Model.Message, @Model.Name!</div>
</div>

